*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    width: 100%;
}
h1,h2,h3,h4,h5,h6{
    color: #272727;
    font-size: 36px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
}
p{
    color: #272727;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}
.container{
    width: 1140px;
    justify-content: space-between;
    align-items: center;
    padding: 40px 200px 0px 200px;
}
.row{
    width: 100%;
    display: flex;
}
.col-6{
    width: 50%;
}
.col-3{
    width: 33.33%;
}
.btn-primary{
    color: #fff;
    background: #FD6E0A;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    padding: 15px 35px;
    cursor: pointer;
}
.section-title{
    text-align: center;
}