*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    width: 100%;
}
h1,h2,h3,h4,h5,h6{
    color: #272727;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
}
p{
    color: #b6b6b6;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}
.container{
    width: 1140px;
    justify-content: space-between;
    align-items: center;
    padding: 40px 200px 0px 200px;
}
.row{
    width: 100%;
    display: flex;
}
.col-6{
    width: 50%;
}
.col-3{
    width: 33.33%;
}
.btn-primary{
    color: #fff;
    background: #E55473;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    padding: 12px 25px;
    cursor: pointer;
}
.section-title{
    text-align: center;
}
.section-description{
    text-align: center;
}

/* Banner Section Start Here */
.header{
    background: #fceef1;
    padding: 0px 102px;
}
.banner{
    padding-top: 80px;
}
.banner-content{
    padding: 120px 0px 0px 20px;
    justify-content: space-between;
}
.banner-content h2{
    font-size: 60px;
    margin-top: 5px;
    margin-bottom: 20px;
}
.btn{
    padding: 30px 0px;
}
.banner-img{
    text-align: center;
}
.images-file{
    justify-content: center;
    width: 450px;
    padding-bottom: 0px;
}
/* Banner Section End Here! */

/* Featured section start here */
.Featured-description{
    margin: 130px;
    text-align: center;
}
.Featured-content{
    padding: 0px 100px;
}
.Featured-description .section-title{
    padding-bottom: 20px;
}
.Featured-info-div{
    display: flex;
    justify-content: center;  
    gap: 26px;
    padding-top: 60px;
}
.Featured-info-1 img{
    width: 251px;
    background: #f2dee7;
    padding: 50px 50px 0px 50px;
    border-radius: 50% 50% 0% 0%;
}
.Featured-info-2 img {
    width: 277px;
    background: #d9eff1;
    padding: 70px 40px 50px 40px;
    border-radius: 50% 50% 0% 0%;
  }
  .Featured-info-3 img {
    width: 232px;
    background: #e3ebdb;
    padding: 50px 50px 0px 50px;
    border-radius: 50% 50% 0% 0%;
  }
.Featured-info-div h5{
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    padding-top: 15px;
    text-decoration: underline;
    cursor: pointer;
}
.Featured-info-div-2{
    background: #e3ebdb;
    padding: 60px;
    margin-top: 80px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    gap: 100px;  
    padding-top: 60px;
}
.Featured-info-div-2 h5{
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    padding-top: 8px;
}
/* Featured Section End Here */

/* Marketing Section Start Here! */
.Marketing{
    padding: 0px 102px 80px 102px;
    background: #fef6f8;
    text-align: center;
}
.Marketing .banner-content{
    padding: 100px 0px 0px 0px;
}
.Marketing .banner-content h2{
    font-size: 36px;
    margin-top: 5px;
    margin-bottom: 20px;
}
.Marketing .images-file{
    justify-content: center;
    width: 250px;
    padding-bottom: 0px;
}
/* Marketing Section End Here! */

/* Instagram Section Start Here! */
.Instagram-description{
    padding: 130px;
}
.Instagram-description .section-title {
    padding-bottom: 20px;
  }
.insta-item{
    display: flex;
    justify-content: space-between;  
    gap: 26px;
    padding-top: 60px;
}
.insta-item img{
    width: 100%;
}

/* Newsletter Start Here! */
.Newsletter{
    background: url("../img/Rectangle\ 9.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 130px;
    padding: 80px;
    border-radius: 5px;
}
.Subs-form{
    text-align: center;
    padding-top: 40px;
}
.Subs-form input{
        width: 52%;
        padding: 14px;
        border: none;
        border-radius: 5px;
        margin-right: 8px;
}
/* Newsletter End Here! */

/* Instagram Section End Here! */

/* Footer Section Start Here! */
.footer{
    padding: 130px;
    background: #111010;
}
.footer-content{
    color: #fff;
    text-align: center;
}
.footer-content h2{
    color: #fff;
    padding-bottom: 25px;
}
.copyright{
    color: #343434;
    font-size: 14px;
    padding-top: 25px;
}
/* Footer Section End Here! */